<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/header' , {title: 'Give Pet to PawsVille'}); %>

  <body class="bg-orange-100">
    <%- include('./templates/nav'); %> <%- include('./templates/aside'); %>

    <div class="sm:ml-50 xl:ml-70 p-5">
      <div
        class="p-4 border-gray-200 min-h-screen border-dashed rounded-lg dark:border-gray-700 mt-14"
      >
        <%- include('./templates/clock'); %>
        <h1 class="h1-style">Give Away Your Pet</h1>
        <h3 class="h3-style">
          Please fill in submit the form to begin the process
        </h3>
        <form
          class="border-1 border-orange-200 rounded-md bg-orange-50 text-orange-600 p-5 my-3 md:p-10 [&>*]:mb-4"
        >
          <div class="form-group">
            <label class="inline font-semibold" for="form-give-pet-name"
              >Pet Name:</label
            >

            <input
              type="text"
              id="form-give-pet-name"
              name="form-give-pet-name"
              placeholder="Charlie"
              class="p-0"
              maxlength="20"
              onkeydown="return /^[a-z\s]$/i.test(event.key) || event.key === 'Backspace' || event.key ==='Tab'"
              required
            />
          </div>
          <div class="form-group">
            <label class="inline font-semibold" for="form-give-pet-type-cat"
              >Pet Type:</label
            >
            <div class="inline pl-2">
              <input
                type="radio"
                id="form-give-pet-type-cat"
                name="form-give-pet-type"
                value="cat"
                required
              />
              <label for="form-give-pet-type-cat">Cat</label>
            </div>
            <div class="inline pl-2">
              <input
                type="radio"
                id="form-give-pet-type-dog"
                name="form-give-pet-type"
                value="dog"
              />
              <label for="form-give-pet-type-dog">Dog</label>
            </div>
          </div>

          <div class="form-group">
            <label for="form-give-pet-breed" class="font-semibold"
              >Your pet breed:</label
            >
            <input
              type="text"
              id="form-give-pet-breed"
              class="p-0"
              placeholder="golden retriever"
              maxlength="22"
              onkeydown="return /^[a-z\s]$/i.test(event.key) || event.key === 'Backspace' || event.key ==='Tab'"
              required
            />
          </div>

          <div class="form-group">
            <label class="inline font-semibold">Age Range (0-20):</label>
            <div class="my-2 inline">
              <label for="form-give-pet-min-age">Min </label>
              <input
                type="number"
                name="form-give-pet-min-age"
                id="form-give-pet-min-age"
                placeholder="1"
                min="0"
                max="20"
                class="py-0 bg-white w-20 number-inputs"
                required
              />
            </div>
            <div class="my-2 inline">
              <label for="form-give-pet-max-age">Max </label>
              <input
                type="number"
                name="form-give-pet-max-age"
                id="form-give-pet-max-age"
                min="0"
                placeholder="20"
                max="20"
                class="py-0 bg-white w-20 number-inputs"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label class="font-semibold" for="form-give-pet-gender-male"
              >Gender:</label
            >
            <div class="inline pl-2">
              <input
                type="radio"
                id="form-give-pet-gender-male"
                name="form-give-pet-gender"
                value="male"
              />
              <label for="form-give-pet-gender-male">Male</label>
            </div>
            <div class="inline pl-2">
              <input
                type="radio"
                id="form-give-pet-gender-female"
                name="form-give-pet-gender"
                value="female"
              />
              <label for="form-give-pet-gender-female">Female</label>
            </div>
          </div>
          <div class="form-group">
            <p class="font-semibold">Get along with</p>

            <div>
              <input
                type="checkbox"
                id="form-give-pet-get-along-dogs"
                name="form-give-pet-get-along"
              />
              <label for="form-give-pet-get-along-dogs">Dogs</label>
            </div>

            <div>
              <input
                type="checkbox"
                id="form-give-pet-get-along-cats"
                name="form-give-pet-get-along"
              />
              <label for="form-give-pet-get-along-cats">Cats</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="form-give-pet-get-along-children"
                name="form-give-pet-get-along"
              />
              <label for="form-give-pet-get-along-children">Children</label>
            </div>
          </div>

          <div class="form-group">
            <label class="font-semibold">Any note about your pet:</label>

            <textarea
              class="p-0 block w-full bg-white"
              rows="5"
              id="form-give-pet-comment"
              placeholder="allergies, behaviors, anything important"
              name="form-give-pet-comment"
              required
            >
            </textarea>
          </div>

          <div class="form-group">
            <label class="block font-semibold">Owner's Name:</label>
            <label class="inline p-0" for="form-give-owner-fname">First:</label>
            <input
              type="text"
              class="p-0"
              id="form-give-owner-fname"
              name="form-give-owner-fname"
              placeholder="Jane"
              pattern="^[A-Za-z]+$"
              required
            />

            <label class="inline p-0" for="form-give-owner-lname">Last:</label>

            <input
              type="text"
              class="p-0"
              id="form-give-owner-lname"
              name="form-give-owner-lname"
              placeholder="Doe"
              pattern="^[A-Za-z]+$"
              required
            />
          </div>
          <div class="form-group">
            <label class="block font-semibold">Owner's Email:</label>
            <input
              type="email"
              class="p-0"
              id="givePet-email"
              name="form-give-owner-email"
              placeholder="email@gmail.com"
              required
            />
          </div>
          <button
            type="submit"
            class="cursor-pointer border-1 rounded-md px-5 py-2 text-center mr-2 bg-orange-500 text-white"
          >
            Submit
          </button>
          <button
            type="reset"
            class="cursor-pointer border-1 rounded-md px-5 py-2 text-center bg-white"
          >
            Clear
          </button>
        </form>
      </div>
    </div>

    <%- include('./templates/footer'); %> <%- include('./templates/scripts'); %>
  </body>
</html>
